@import 'basic';
@import 'variables';
@import 'header';
@import 'about';
@import 'not-found';
@import 'table';
@import 'details';
@import 'form';

.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.results {
  width: 100%;
  padding: 10px;
  background-color: $bg-form-hover;
  border-radius: 10px;

  @media screen and (max-width: 480px) {
    padding: 5px;
    border-radius: 5px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  &__btn {
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    border-radius: 4px;

    @media screen and (min-width: 640px) {
      &:hover:not(:disabled) {
        color: $white;
        background-color: $bg-form-hover;
      }
    }
  }
  &__btn:nth-child(1) {
    margin-right: 10px;
  }

  &__btn:hover:not(:disabled) {
    cursor: pointer;
  }
}

.fade-enter {
  transform: scale(0.9);
  opacity: 0;
}
.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
